@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


.new-btn { visibility:hidden; }
.progress { visibility:hidden; }
.upload  { visibility:hidden; }


a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    
    background: #fff;
    border: none;
    border-radius: 0;
    /* margin-bottom: 40px; */
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper1 {
    display: flex;
    width: 100%;
    align-items: stretch;
}
        
#sidebar {
    background: #8E2DE2;  /* fallback for old browsers */
    background: linear-gradient(to left, #003366 3%, #660066 117%);
    min-width: 250px;
    max-width: 250px; 
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #8E2DE2;  /* fallback for old browsers */
    background: linear-gradient(to left, #003366 3%, #660066 117%);


}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background:#8E2DE2;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #4A00E0;  /* fallback for old browsers */



}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
        
@media (max-width: 768px) {

#sidebar {
    margin-left: -250px;
} 

#sidebar.active {
    margin-left: 0;
}

#sidebarCollapse span {
    display: none;
}

    }

#content{ 
    background-color :#9921e8;
    background: linear-gradient(to right, #003366 -1%, #660066 100%);
    

}

.rounded-circle{
    padding:2%;
    max-width: 45%;
    max-height: 45%;
}


.btn-group{
    padding-bottom:2%;
}

.progress-bar{
    padding:2%; 
}

#rapper{
    width:60%;
    height:60%;
}
    
p,label,h1,h2,h4{
    padding:2%;
    color: whitesmoke;
    text-shadow:
    -0.1px -0.1px 0 #000,  
    0.1px -0.1px 0 #000,
    -0.1px 0.1px 0 #000,
    0.1px 0.1px 0 #000;
}
.modal label{
    color: black;
    text-shadow:none;
}

.wrapper div {
    width:330px;
}

    .new-green-btn {
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #237D20;
	*background-color: #237D20;
	background-image: -moz-linear-gradient(top, #211D42, #237D20);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#211D42), to(#237D20));
	background-image: -webkit-linear-gradient(top, #211D42, #237D20);
	background-image: -o-linear-gradient(top, #211D42, #237D20);
	background-image: linear-gradient(to bottom, #211D42, #237D20);
	background-repeat: repeat-x;
	border-color: #237D20;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#211D42', endColorstr='#237D20', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.new-green-btn:hover,
.new-green-btn:focus,
.new-green-btn:active,
.new-green-btn.active,
.new-green-btn.disabled,
.new-green-btn[disabled] {
	color: #FFFFFF;
	background-color: #237D20;
	*background-color: #003bb3;
}
.new-blue-btn {
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #02B39E;
	*background-color: #02B39E;
	background-image: -moz-linear-gradient(top, #211D42, #02B39E);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#211D42), to(#02B39E));
	background-image: -webkit-linear-gradient(top, #211D42, #02B39E);
	background-image: -o-linear-gradient(top, #211D42, #02B39E);
	background-image: linear-gradient(to bottom, #211D42, #02B39E);
	background-repeat: repeat-x;
	border-color: #02B39E;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#211D42', endColorstr='#02B39E', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.new-blue-btn:hover,
.new-blue-btn:focus,
.new-blue-btn:active,
.new-blue-btn.active,
.new-blue-btn.disabled,
.new-blue-btn[disabled] {
	color: #FFFFFF;
	background-color: #02B39E;
	*background-color: #003bb3;
}
.new-btn {
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #4A00E0;
	*background-color: #4A00E0;
	background-image: -moz-linear-gradient(top, #8E2DE2, #4A00E0);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8E2DE2), to(#4A00E0));
	background-image: -webkit-linear-gradient(top, #8E2DE2, #4A00E0);
	background-image: -o-linear-gradient(top, #8E2DE2, #4A00E0);
	background-image: linear-gradient(to bottom, #8E2DE2, #4A00E0);
	background-repeat: repeat-x;
	border-color: #4A00E0;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8E2DE2', endColorstr='#4A00E0', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.new-btn:hover,
.new-btn:focus,
.new-btn.disabled,
.new-btn[disabled] {
	color: #FFFFFF;
	background-color: #4A00E0;
	*background-color: #003bb3;
}

.new-sky-btn {
	color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #0062FF;
	*background-color: #0062FF;
	background-image: -moz-linear-gradient(top, #211D42, #0062FF);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#211D42), to(#0062FF));
	background-image: -webkit-linear-gradient(top, #211D42, #0062FF);
	background-image: -o-linear-gradient(top, #211D42, #0062FF);
	background-image: linear-gradient(to bottom, #211D42, #0062FF);
	background-repeat: repeat-x;
	border-color: #0062FF;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#211D42', endColorstr='#0062FF', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.new-sky-btn:hover,
.new-sky-btn:focus,
.new-sky-btn:active,
.new-sky-btn.active,
.new-sky-btn.disabled,
.new-sky-btn[disabled] {
	color: #FFFFFF;
	background-color: #0062FF;
	*background-color: #003bb3;
}

.navbar{
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.progress-bar {
      background-color: purple !important;
}

#btn_group_id .active{
    background:purple;
}

#snip1,#snip2,#snip3 {
  float: left;
}

#info-with-img{
    width:55%;
    float: left;
}

#img-with-info{
    margin: 0 auto;
    float: right;
}
/* for loading after getting data purpose */
.active{
    background-color: purple !important;
}

.brand{
    max-height: 40%;
    max-width: 40%;
    margin:0 auto;
}
#brand{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
  
button .active{
    background-color:#8E2DE2;
}
.btn-group {
display: flex;
flex-direction: row;
}

.btn-group  button {

font-size:80%;
}