
// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

/* RGB */
$flavor: rgba(255, 113, 91, 1);
$dark: rgba(34, 51, 59, 1);
$light: rgba(242, 244, 243, 1);
$darker: rgba(25, 23, 22, 1);
$lighter: rgba(253, 255, 252, 1);